<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-fables {% if page.url contains 'projects' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/projects">Projects</a></li>
        <li class="nav-speeches {% if page.url contains 'algorithm' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/algorithm">Algorithm</a></li>
        <li class="nav-fiction {% if page.url contains 'etc' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/etc">ETC</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
